.app-content-container .list {
    padding: 0 16px;
}

.app-content-container .list a {
    color: var(--blue-shade40);
    text-decoration: none;
}

.app-content-container .list a:hover {
    text-decoration: underline;
}

.app-content-container .list-element {
    font-size: 17px;
    padding-bottom: 13px;
    line-height: 25px;
}

.app-content-container .apps-list {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.app-content-container .apps-list ul {
    list-style: none;
}