body {
  font-family: var(--font);
  margin: 0;
}

.page-content-container {
  margin: 30px 16px;
  /* background-color: red; */
}

.page-content-container .page-content {
  margin-right: auto;
  margin-left: auto;
  /* background-color: burlywood; */
}

@media screen and (min-width: 800px) {
  .page-content {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - 30px * 2);
  }
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.black-link {
  color: #111;
  text-decoration: none;
}

.black-link:hover {
  color: #111;
  text-decoration: underline;
}