.article-content-container {}

.article-content-container .article-title {
    word-wrap: break-word;
    margin-bottom: 0;
}

.article-content-container .article-sub-title {
    margin: 0;
    font-size: 12px;
    color: var(--tertiary-text-color);
}