:root {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary-color: #001B38;
  --secondary-color: #367FEE;
  --primary-text-color: #19191A;
  --secondary-text-color: #3E3E40;
  --tertiary-text-color: #77787A;
  --header-text-color: #FFFFFF;
  --primary-button-text-color: #FFFFFF;
  --primary-button-hover-bg-color: rgba(255,255,255,0.1);
  --secondary-button-header-hover-bg-color: rgba(255,255,255,0.1);
  --secondary-button-content-hover-bg-color: rgba(0, 0, 0, 0.1);
  --search-bg-color: rgba(255,255,255,0.15);
  --hr-color: #D4D6D9;
  --border-color: rgba(0, 0, 0, 0.08);
  --box-shadow-color: rgba(0, 0, 0, 0.08);
  --blockquote-color: #d4d6d9;
  --input-border-color: rgba(0, 0, 0, 0.2);
  --hover-secondary-button-bg: rgba(0, 0, 0, 0.08);
  --table-border: #e8eaed;
  --primary-bg-color: #FFFFFF;
  --primary-bg-color-active: #F5F5F5;
  --secondary-bg-color: rgba(0, 0, 0, 0.03);
  --article-bg-color: rgba(0, 0, 0, 0.05);
  --article-hover-bg-color: rgba(0, 0, 0, 0.1);
  --article-code-bg: #3e3e40;
  --article-code-text-color-default: #FFFFFF;
  --article-code-comment: #9b9c9e;
  --article-code-tag: #f2830b;
  --article-code-literal: #fac1bb;
  --article-code-string: #b6f0ca;
  --article-code-title: #e3b51e;
  --article-code-keyword: #15acc0;
  --green-shade20: #d9f6e3;
  --green-shade40: #10aa40;
  --orange-shade20: #ffe9d1;
  --orange-shade40: #f2830b;
  --red-shade20: #ffe1de;
  --red-shade40: #e9483a;
  --red-shade50: #B72215;
  --blue-shade40: #367FEE;
  --gray-shade20: #f3f4f6;
  --gray-shade30: #e8eaed;
  --gray-shade40: #d4d6d9;
  --gray-shade50: #bbbdbf;
  --gray-shade60: #9B9C9E;
  --gray-shade70: #77787a;
  --gray-shade80: #3E3E40;
  --gray-shade90: #19191A;
}