---
layout: default
---

<article class="app-content-container" itemscope itemtype="https://schema.org/ItemList">
    <head>
        <title>{{ page.title }}</title>
    </head>

    <header>
        {%- include app_brand.html -%}
    </header>

    <div class="app-content">
        <ul class="list">
            {% assign sorted_articles = site.articles | sort: "index" %}
            {% for article in sorted_articles %}
                {% if article.app == page.app and article.isHidden == false %}
                <li class="list-element">
                    <a href="{{ article.url | relative_url }}">
                    {{ article.title | escape }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>