---
layout: default
---

<article class="article-content-container" itemscope itemtype="http://schema.org/BlogPosting">
    <head>
        <title>{{ page.title }}</title>
    </head>
    <header class="post-header">
        <div class="post-back">
            {% if page.app %}
            <a class="black-link" href="{{ '/' | append: page.app | append: '/' | relative_url }}">
                ← {{ site.moving.back_to }}
            </a>
            {% else %}
            <a class="black-link" href="{{ site.url | relative_url }}">
                ← {{ site.moving.back_to }}
            </a>
            {% endif %}
        </div>

        <h1 class="article-title" itemprop="name headline">
            {{ page.title | escape }}
        </h1>
        <time class="article-sub-title" datetime="{{ page.date | date_to_xmlschema }}">
            {%- assign date_format = "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
        </time>
    </header>

    {{ content }}
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>